programming_physics/BirdsAssemble1/BirdsAssemble/[Ll]ibrary/
programming_physics/BirdsAssemble1/BirdsAssemble/[Tt]emp/
programming_physics/BirdsAssemble1/BirdsAssemble/[Oo]bj/
programming_physics/BirdsAssemble1/BirdsAssemble/[Bb]uild/
programming_physics/BirdsAssemble1/BirdsAssemble/[Bb]uilds/
programming_physics/BirdsAssemble1/BirdsAssemble/[Ll]ogs/
programming_physics/BirdsAssemble1/BirdsAssemble/Library/Artifacts/
programming_physics/BirdsAssemble1/BirdsAssemble/Library/ScriptAssemblies
